<ion-content> 
  <!-- <div class="topicon"><ion-icon class="icon"  (click)="dismiss()" name="chevron-down-outline"></ion-icon>
  </div> -->
  
  
  <div class="line" (click)="dismiss()" ><img src="../../../assets/image/line.png"></div>
  <!-- <ion-fab >
    <ion-fab-button class="headblue" >
      <ion-icon slot="end" name="close-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab> -->
    <!-- <ion-item lines="full" (click)="dismiss()">
    
     
      <ion-icon slot="end" name="close-outline"></ion-icon>
 
      <ion-label>
        <h2 ></h2>        
      </ion-label>
    </ion-item> -->
   
    <div class="mainitem">
    <ion-item lines="none" (click)="profile()">
    
  
      <ion-icon name="person-outline"></ion-icon>
 
      <ion-label>
        <h2 >Profile</h2>        
      </ion-label>
    </ion-item>
    <ion-item lines="none" (click)="logout()">
     
      <ion-icon name="log-out-outline"></ion-icon>
     
      <ion-label>
        <h2 >Logout</h2>        
      </ion-label>
    </ion-item>
    </div>
    <!-- <ion-item lines="none" (click)="dismiss()">
     
      <ion-icon slot="start" name="close-circle"></ion-icon>
   

    <ion-label>
      
      <h2>Cancel</h2>        
    </ion-label>
  </ion-item> -->
    


  <!-- <div class="btndiv"> 
    <ion-item>
    <div (click)="profile()">
      
        <ion-icon  name="person"></ion-icon>
        <ion-label color="dark">Profile</ion-label>
      
    </div>
    <div (click)="logout()">
      Logout</div>
     
  
</div> -->
</ion-content>
