<ion-content> 
  <div class="topicon"><ion-icon class="icon"  (click)="dismiss()" name="chevron-down-outline"></ion-icon>
  </div>
  <div class="imagediv"> <img class="imagesssss"  src="../../../assets/image/door.png"></div>
  <div class="divvs"><ion-label class="label">Do you want to Logout?</ion-label>
  <div class="btndiv">    
      <ion-button class="headblue" (click)="dismissmodel()">No</ion-button>
    <ion-button class="headblue" (click)="Logout()">Yes</ion-button>
  </div>
    
</div>
</ion-content>